{% extends 'base.html' %}
{% block content %}

<style>

body {
    font-family: Shrikhand, cursive;
    background-image: url('https://i.imgur.com/H9Bo6g5.jpg');
    background-size: 40%;
    font-size: larger;
    color: rgb(124, 115, 185);
  }

  h1 {
    font-family: Shrikhand, cursive;
    font-size: 150%;
    color: rgb(212, 0, 138);
  }

  .card {
    background-color: rgb(252, 198, 231);
    font-family: Shrikhand, cursive;
   
  }

  .submit-button {
    font-family: Shrikhand, cursive;
    background-color: rgb(226, 96, 165);
  }

  .submit-button:hover {
    background-color: rgb(235, 0, 137);

  }

</style

<h1> All Schools </h1>

{% for school in schools %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ school.name }}</span>
      <form action='{{ school.id }}/' method="POST">
        {% csrf_token %}
        <input type="submit" name="btn" value="submit" class="submit-button">
      </form>
    </div>
  </div>
{% endfor %}

{% endblock %}