{% extends 'base.html' %}

{% block content %}

<style>
  body {
    font-family: 'Apple Chancery', cursive;
    background-image: url('https://i.imgur.com/wjdz6KL.jpg');
    background-size: cover;
  }

  h1 {
    color: rgb(213, 30, 137);
  }

  h4 {
    color: rgb(133, 0, 69);
    font-family: 'Apple Chancery', cursive;
  }

  .btn {
    background-color: rgb(222, 108, 177);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn:hover {
    background-color: #e01179;
  }

  a {
    color:  rgb(222, 108, 177);;
    font-family: 'Apple Chancery', cursive;
    font-size: 35px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>

  <h1>Delete Group</h1>

  <h4>Are you sure you want to delete <span class="teal-text">{{ group.name }}</span>?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="btn">
    <a href="{% url 'detail' study_group.id %}">Cancel</a>
  </form>
{% endblock %}