{% extends 'base.html' %}

{% block content %}

<style>
  body {
    font-family: Shrikhand, cursive;
    background-image: url('https://i.imgur.com/wjdz6KL.jpg');
    background-size: cover;
  }

  h1 {
    color: rgb(124, 115, 185);
  }

  h4 {
    color: rgb(124, 115, 185);
    font-family: Shrikhand, cursive;
  }

  .btn {
    background-color: rgb(124, 115, 185);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn:hover {
    background-color: #7105e5;
  }

  a {
    color: rgb(124, 115, 185);
    font-family: Shrikhand, cursive;
    font-size: 35px;
    text-decoration: none;
  }

</style>

  <h1>Delete Group</h1>

  <h4>Are you sure you want to delete <span class="teal-text">{{ group.name }}</span>?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="btn">
    <a href="{% url 'detail' study_group.id %}">Cancel</a>
  </form>
{% endblock %}