{% extends 'base.html' %}
{% block content %}
<style>
  body{
    background-image: url('https://i.imgur.com/ffwU0dn.jpg');
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Apple Chancery', cursive;
  font-size: 34px;
  }
</style>
<h1 style="color: rgb(225, 89, 179); font-weight: bold; text-shadow: 2px 2px 4px #030303; font-family: 'Apple Chancery', cursive;">Create New Group</h1>

  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {% csrf_token %}
      {{ form.as_table }}
    </table>
    <input type="submit" value="Create" class="btn">
  </form>

<script>
  const topicEl = document.getElementById('id_topic')
  M.FormSelect.init(topicEl)
  const dateEl = document.getElementById('id_date')
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  })
  const timeEl = document.getElementById('id_time')
  M.Timepicker.init(timeEl)
</script>
{% endblock %}