{% extends 'base.html' %}
{% block content %}

<style>
  body {
    font-family: 'Shrikhand', cursive;
    background-color: ;
  }
  
  h1 {
    color: #90cce6;
    text-shadow: 2px 2px 4px #e35ab3;
  }

  .btn {
    background-color: pink;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn:hover {
    background-color: #ff80bf;
  }
  th label{
    color:#e30d7c;
    font-size: 30px;
    text-shadow: 2px 2px 4px #e685c4;
  }

</style>


<h1>Log In</h1>

<form method="POST" action="{% url 'login' %}">
  <table>
  {% csrf_token %}
  {{ form.as_table }}
  </table>
  <input type="hidden" name="next" value="{{ next }}">
  <button type="submit" class="btn">Log In</button>
</form>

{% endblock %}