{% extends 'base.html' %}

{% block content %}
<style>

body {
  font-family: Shrikand, cursive;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding: 0;
  background-image: url('https://i.imgur.com/Sy6Z49I.jpg');
  background-size: 25%;
}

  h1 {
    font-family: Shrikhand, cursive;
    color: #e85b95;
    font-size: 52px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
  }

  p {
    font-family: Shrikhand, cursive;
    color: #e85b95;
    font-size: 23px;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
  }

  .container {
    font-family: Shrikhand, cursive;
    max-width: 900px;
    margin: 60px auto 0;
    margin-top: 2px;
    margin-bottom: 120px;
    padding: 10px;
    background-color: #f4dce6;
  }
</style>

<div class="container">
  <h1>About</h1>
  <p>Study Buddy is an interactive study application designed for students seeking collaboration opportunities with their peers beyond the confines of the traditional classroom environment. Study Buddy empowers students to enhance their learning experiences through teamwork and project management. Our intuitive, user-friendly platform allows students to effortlessly connect with like-minded individuals to access a wide range of study groups tailored to their specific school and academic disciplines. By signing up for our complimentary application, students gain instant access to a vibrant community of learners, enabling them to explore existing study groups aligned with their educational pursuits and providing a seamless interface for creating and organizing their own study groups. Join Study Buddy today and embark on a journey of collaborative learning. Let the studying commence!</p>
</div>

{% endblock %}
