{% extends 'base.html' %}

{% block content %}
<style>

body {
  font-family: Shrikand, cursive;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding: 0;
  background-image: url('https://i.imgur.com/Sy6Z49I.jpg');
  background-size: 30%;
}

  h1 {
    font-family: Shrikhand, cursive;
    color: #e85b95;
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-family: Shrikhand, cursive;
    color: #e85b95;
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
  }

  .container {
    font-family: Shrikhand, cursive;
    max-width: 700px;
    margin: 60px auto 0;
    padding: 20px;
    background-color: #f4dce6;
  }
</style>

<div class="container">
  <h1>About</h1>
  <p>'Study Buddy' is an interactive study app dedicated to students looking for an easy way to collaborate with their peers on academic study and projects outside of the classroom. By signing up for this free application, students are able to view and join existing study groups pertaining to their respective school, as well as create and manage their own groups. Sign up and let the studying begin!</p>
</div>

{% endblock %}
