{% extends 'base.html' %}
{% block content %} 

<style>

  body {
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  margin: 0;
  padding: 0;
  background-image: url('https://i.imgur.com/Sy6Z49I.jpg');
  background-size: 20%;
}

  h1 {
    font-family: Apple Chancery, cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 70px;
    color: #e96da9;
    background-color: #fbc0dc;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    position: absolute;
    top: 30%;
  left: 30%;

  }
</style>

<h1>Welcome to Study Buddy!</h1>

{% endblock %}