{% extends 'base.html' %}
{% block content %} 

<style>

  body {
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  margin: 0;
  padding: 0;
  background-image: url('https://i.imgur.com/XZMq7t7.jpg');
  background-size: 100%;
}

  h1 {
    font-family: Apple Chancery, cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 70px;
    color: #f33d95;
    text-align: center;
    text-shadow: 2px 2px 4px #d576ac;
    margin-top: 40px;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 37%;
  }
</style>

<h1>Welcome to Study Buddy!</h1>

{% endblock %}