{% extends 'base.html' %}
{% block content %}

<style>
  body {
    font-family: 'Apple Chancery', cursive;
  }

  h1 {
    color: rgb(221, 105, 188);
  }

  .card {
    background-color: #f4dce6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(236, 102, 178);
  }

  .card-title {
    color: rgb(201, 106, 160);
    font-family: 'Apple Chancery', cursive;
    font-size: 24px;
    font-weight: bold;
  }

  .card-content {
    color: rgb(189, 95, 151);
    font-family: 'Apple Chancery', cursive;
  }

  .card-action a {
    color: pink;
    font-family: 'Apple Chancery', cursive;
  }
  
</style>


<h1>Group Details</h1>
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ study_group.name }}</span>
    <p>Date: {{study_group.date}}</p>
    <p>Time: {{study_group.time}}</p>
    <p>Description: {{study_group.description}}</p>
    <p>Location: {{ study_group.location }}</p>
    <p>Topic: {{ study_group.topic }}</p>
    <p>Attending: {{ study_group.attending }}</p>
  </div>
  <div class="card-action">
    {% if user == study_group.creator %}
      <a href="{% url 'study_groups_edit' study_group.id %}">Update</a>
      <a href="{% url 'study_groups_delete' study_group.id %}">Delete</a>
    {% endif %}
  </div>
</div>

{% endblock %}