{% extends 'base.html' %}
{% block content %}

<style>
  body {
    font-family: Shrikhand, cursive;
    background-image: url('https://i.imgur.com/0WfbzWH.jpg');
    background-size: 40%;
  }

  h1 {
    color:#e30d7c;
  }

  .card {
    font-family: Shrikhand, cursive;
    background-color: #f4dce6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(236, 102, 178);
  }

  .card-title {
    color:#e30d7c;
    font-family: Shrikhand, cursive;
    font-size: 24px;
    font-weight: bold;
  }

  .card-content p {
    color: #e30d7c;
    font-family: Shrikhand, cursive;
  }

  .card-action a {
    color: #e30d7c;
    font-family: Shrikhand, cursive;
  }
  
</style>


<h1>Group Details</h1>
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ study_group.name }}</span>
    <p>Date: {{study_group.date}}</p>
    <p>Time: {{study_group.time}}</p>
    <p>Description: {{study_group.description}}</p>
    <p>Location: {{ study_group.location }}</p>
    <p>Topic: {{ study_group.topic }}</p>
    <p>Attending: {% for people in people_attending %} {{people}} </p>
    {% endfor %}
  </div>
  <div class="card-action">
    {% if user != study_group.creator %}
      {% if is_attending.count == 0 %}
      <form method='POST' action="{% url 'set_attending' study_group.id %}">
        {% csrf_token %}
        <input type="submit" value="I'm Going!" class="btn pink">
      </form>
      {% else %}
      <form method='POST' action="{% url 'set_attending' study_group.id %}">
        {% csrf_token %}
        <input type="submit" value="I'm Not Going" class="btn pink">
      </form>
      {% endif %}
    {% endif %}
    {% if user == study_group.creator %}
    <a href="{% url 'study_groups_edit' study_group.id %}" style="color: #e30d7c;" class="update-link">Update</a>
    <a href="{% url 'study_groups_delete' study_group.id %}" style="color: #e30d7c;" class="delete-link">Delete</a>
    {% endif %}
  </div>
</div>

{% endblock %}












