{% extends 'base.html' %} 
{% block content %}

<style>
  body{
    background-color: #FAD4E5;
    font-family: Shrikhand, cursive;
    margin: 0;
    padding: 0;
  
  }

  h2 {
    font-family: Shrikhand, cursive;
    font-weight: bold;
    font-style: italic;
    color: #d4237c;
    font-size: 24px;
    margin-bottom: 10px;
  }

  h3 {
    font-family: Shrikhand, cursive;
    font-weight: bold;
    font-style: italic;
    color: #d4237c;
    font-size: 24px;
    margin-bottom: 10px;
  }


  p {
    font-family: Shrikhand, cursive;
    font-weight: bold;
    font-style: italic;
    color:  #d4237c;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .card {
    background-color: rgba(249, 249, 249, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(144, 204, 230, 0.8);
    margin-bottom: 10px;
    padding: 10px;
  }

  .card-title {
    font-family: Shrikhand, cursive;
    font-weight: bold;
    font-style: italic;
    color: #d4237c;
    font-size: 18px;
    
  }

  form label {
  font-family: Shrikhand, cursive;
  font-style: italic;
    color: #d4237c;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }

  form select,
  form input[type="text"],
  form input[type="submit"] {
    font-family: Shrikhand, cursive;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
  }

  form input[type="submit"] {
    background-color: #d4237c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  a {
    font-family: Shrikhand, cursive;
    color: #d4237c;
    text-decoration: none;
    font-weight: bold;
  }

  .topic-border {
  border: 1px solid #9c65d6;
  padding: 10px;
  display: inline-block;
}

.school-border {
  border: 1px solid #9c65d6;
  padding-right: 15px;
  padding-left: 15px;
}

</style>

<h2>My School:</h2>
<div class="school-border">
  <p>{{ user.profile.school.name }}</p>
</div>
<a href="{% url 'school_select'  %}">Select School</a>

<h3>Filter By Topic:</h3>
<div id="all-topics">
  {% for topic in all_topics %}
    <a class="topic-display" href="{% url 'filter_by_topic' topic.id %}">
      <div class="topic-border">{{topic.name}}</div>
    </a>
  {% endfor %}
</div>

<h3>My Groups:</h3>
{% for my_group in my_groups %}
  <div class="card">
    <a href="{% url 'detail' my_group.id %}">
      <div class="card-content">
        <span class="card-title">{{ my_group.name }}☆</span>
      </div>
    </a>
  </div>
{% endfor %}
{% for attending_group in attending_groups %}
  <div class="card">
    <a href="{% url 'detail' attending_group.id %}">
      <div class="card-content">
        <span class="card-title">{{attending_group.name}}</span>
      </div>
    </a>
  </div>
{% endfor %}

<h3>All Groups:</h3>
{% for group in all_groups %}
  <div class="card">
    <a href="{% url 'detail' group.id %}">
      <div class="card-content">
        <span class="card-title">
          {{ group.name }}{% if group.creator == user %}☆{% endif %}
        </span>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}