{% extends 'base.html' %} {% block content %}

<h2>My School:</h2>
<p>{{ user.profile.school.name }}</p>
<a href="{% url 'school_select'  %}">Select School</a>

<h2>My Topics:</h2>
<p>{{ user.profile.selected_topics.all }}</p>

<h3>My Groups:</h3>
{% for my_group in my_groups %}
  <div class="card">
    <a href="{% url 'detail' my_group.id %}">
      <div class="card-content">
        <span class="card-title">{{ my_group.name }}</span>
      </div>
    </a>
  </div>
{% endfor %}

<h3>All Groups:</h3>

<form>
  <label for="study_group">Select study group:</label>
  <select id="study_group"name="study_group">
    {% for study_group in study_groups %}
  {% if study_group.school == user.profile.school and study_group.topic in selected_topics %}
  <option value="{{ study_group.id }}">{{ study_group.name }}</option>
  {% endif %}
{% endfor %}
  </select>
  <input type="text" name="name"> 
  <input type="submit" value="Submit">
</form>

{% for study_group in study_groups %}
  {% if study_group.school == user.profile.school and study_group.topic in selected_topics %}
    <div class="card">
      <a href="{% url 'detail' study_group.id %}">
        <div class="card-content">
          <span class="card-title">{{ study_group.name }}</span>
        </div>
      </a>
    </div>
  {% endif %}
{% endfor %}

{% endblock %}