{% extends 'base.html' %} 
{% block content %}

<style>
  body{
    background-image: url('https://i.imgur.com/3QraPpG.jpg');
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }

  h2 {
    font-family: Apple Chancery, cursive;
    font-weight: bold;
    font-style: italic;
    color: #d4237c;
    font-size: 24px;
    margin-bottom: 10px;
  }

  h3 {
    font-family: Apple Chancery, cursive;
    font-weight: bold;
    font-style: italic;
    color: #d4237c;
    font-size: 24px;
    margin-bottom: 10px;
  }


  p {
    font-family: Apple Chancery, cursive;
    font-weight: bold;
    font-style: italic;
    color: #ca288f;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
  }

  .card-title {
    font-family: Apple Chancery, cursive;
  font-weight: bold;
  font-style: italic;
    color: #d4237c;
    font-size: 18px;
    
  }

  form label {
    font-family: Apple Chancery, cursive;
  font-style: italic;
    color: #d4237c;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }

  form select,
  form input[type="text"],
  form input[type="submit"] {
    font-family: Apple Chancery, cursive;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
  }

  form input[type="submit"] {
    background-color: #d4237c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  a {
    font-family: Apple Chancery, cursive;
    color: #d4237c;
    text-decoration: none;
    font-weight: bold;
  }
</style>

<h2>My School:</h2>
<p>{{ user.profile.school.name }}</p>
<a href="{% url 'school_select'  %}">Select School</a>

<h2>My Topics:</h2>
<p>{{ user.profile.selected_topics.all }}</p>

<h3>My Groups:</h3>
{% for my_group in my_groups %}
  <div class="card">
    <a href="{% url 'detail' my_group.id %}">
      <div class="card-content">
        <span class="card-title">{{ my_group.name }}</span>
      </div>
    </a>
  </div>
{% endfor %}

<h3>All Groups:</h3>
{% for group in all_groups %}
  <div class="card">
    <a href="{% url 'detail' group.id %}">
      <div class="card-content">
        <span class="card-title">
          {{ group.name }}
        </span>
      </div>
    </a>
  </div>
{% endfor %}

<form>
  <label for="study_group">Select study group:</label>
  <select id="study_group"name="study_group">
    {% for study_group in study_groups %}
  {% if study_group.school == user.profile.school and study_group.topic in selected_topics %}
  <option value="{{ study_group.id }}">{{ study_group.name }}</option>
  {% endif %}
{% endfor %}
  </select>
  <input type="text" name="name"> 
  <input type="submit" value="Submit">
</form>

{% for study_group in study_groups %}
  {% if study_group.school == user.profile.school and study_group.topic in selected_topics %}
    <div class="card">
      <a href="{% url 'detail' study_group.id %}">
        <div class="card-content">
          <span class="card-title">{{ study_group.name }}</span>
        </div>
      </a>
    </div>
  {% endif %}
{% endfor %}

{% endblock %}